.logo {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
  width: 100vw;
}

.title {
  color: rgb(202, 10, 87);
}

.nav_menu {
  margin-left: 50%;
  color: rgb(202, 10, 87);
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.nav_item {
  padding-left: 60px;
}

.logo_img {
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_img > a {
  border-radius: 2em;
}

.logo_img > a:hover {
  background-color: #363737;
  border: 2px solid rgb(202, 10, 87);
}
