@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.Submit {
  height: 90vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding-left: 100px;
}

.but-area {
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fart {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
}
.image {
  height: 300px;
  width: auto;
}

.jatre {
  font-weight: bold;
  font-size: 30px;
  font-family: "Comfortaa", cursive;
  text-transform: capitalize;
  background: -webkit-linear-gradient(#a18cd1, #fbc2eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #a18cd1 0%,
    #fbc2eb 51%,
    #a18cd1 100%
  );
  margin: 10px;
  padding: 5px 60px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
    no-repeat;
  z-index: 1;
}

.descArea {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}

.uploadDesc {
  height: 250px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-weight: bold;
  font-size: 40px;
  font-family: "Comfortaa", cursive;
  text-transform: capitalize;
  background: -webkit-linear-gradient(#a18cd1, #fbc2eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.upload {
  margin-left: 900px;
  height: 350px;
  width: auto;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
}

.Data {
  height: 200px;
  display: flex;
  justify-self: center;
  align-items: center;
}
