.NavMenu {
  margin-top: 190px;
  padding: 20px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10%;
  height: 700px;
  color: rgb(85, 85, 85);
}

a:link {
  color: rgb(85, 85, 85);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(85, 85, 85);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
  color: #483e48ff;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(85, 85, 85);
  background-color: transparent;
  text-decoration: underline;
}
